{% extends '../base.html' %}

{% block title %} Admin {% end %}

{% block body %}

{% import datetime %}

<div class="container admin">
	<div class="row">
		<div class="logoutLink">
                  <span style="float: left;">{{ datetime.datetime.utcnow() }}</span>
			<a href="{{ reverse_url('index') }}">Homepage</a>
			&middot;
			<a href="{{ reverse_url('admin.logout') }}">Log out {{ current_user }}</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			{% block menu %}
			{% end %}
		</div>
		<div class="col-md-9">
			{% if 'message' in globals() %}
				<div class="alert alert-info">{{ message }}</div>
			{% end %}
			{% block main %}
			{% end %}
		</div>
	</div>
</div>
{% end %}
