<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Terror of Tiny Town{% end %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ static_url('style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="{{ static_url('favicon.png') }}">
</head>
<body>
	<div id="websocket_message" class="bg-warning"></div>
	{% block body %}
	{% end %}
</body>
</html>