{% extends 'index.html' %}

{% block title %} URLTeam Status {% end %}

{% block main %}
{% from terroroftinytown.tracker.model import MIN_VERSION_OVERRIDE, MIN_CLIENT_VERSION_OVERRIDE %}

<div ng-controller="StatsController" class="container-fluid">
	<h2>Shortener Projects</h2>
	<p>Click on header to show project settings</p>
	{% for project in projects %}
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading" ng-click="body['{{project.name}}']=!body['{{project.name}}']">
				{{project.name}}
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Found</th>
						<th>Scanned</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-bind="stats.project['{{project.name}}'][0]|number">0</td>
						<td ng-bind="stats.project['{{project.name}}'][1]|number">0</td>
					</tr>
				</tbody>
			</table>
			<div class="panel-body" ng-show="body['{{project.name}}']">
				{% if project.name in services %}
				<p class="text-success">This service use custom script.</p>
				{% end %}
				<dl>
					<dt>Minimum library version</dt>
					<dd>{{project.min_client_version}}</dd>
					<dt>Minimum pipeline version</dt>
					<dd>{{project.min_version}}</dd>
					<dt>URL</dt>
					<dd><code>{{project.url_template}}</code></dd>
					<dt>Method</dt>
					<dd>{{project.method}}</dd>
					<dt>Alphabet set</dt>
					<dd><code>{{project.alphabet}}</code></dd>
					<dt>Delay</dt>
					<dd>{{project.request_delay}}</dd>
					<dt>Parse regex</dt>
					<dd>{{project.body_regex}}</dd>
					<dt>Redirect status</dt>
					<dd>{{' '.join([str(x) for x in project.redirect_codes])}}</dd>
					<dt>No redirect status</dt>
					<dd>{{' '.join([str(x) for x in project.no_redirect_codes])}}</dd>
					<dt>Unavailable status</dt>
					<dd>{{' '.join([str(x) for x in project.unavailable_codes])}}</dd>
					<dt>Banned status</dt>
					<dd>{{' '.join([str(x) for x in project.banned_codes])}}</dd>
				</dl>
				<a href="{{ '{0}?name={1}'.format(
						reverse_url('api.project_settings'), project.name) }}">json</a>
			</div>
		</div>
	</div>
	{% end %}
</div>

<div class="container-fluid">
<h2>Tracker</h2>
<div class="panel panel-body">
<dl>
	<dt>Minimum library version:</td>
	<dd>{{ MIN_VERSION_OVERRIDE }}</dd>
	<dt>Minimum pipeline version:</td>
	<dd>{{ MIN_CLIENT_VERSION_OVERRIDE }}</dd>
	<dt>Git Hash</dt>
	<dd>{{ git_hash }}</dd>
	<dt>Your IP address</dt>
	<dd>{{ request.remote_ip }}</dd>
</dl>
</div>
</div>
{% end %}