redis==5.2.1
tornado==6.5.1
wtforms-tornado @ git+https://github.com/chfoo/wtforms-tornado@96a8486f7be4f289424445acb560c2ee85349d57
wtforms==3.2.1
SQLAlchemy==2.0.36
internetarchive==5.0.5
alembic==1.14.0
