{% extends 'base.html' %}

{% block title %} Items {% end %}

{% block main %}
{% import datetime %}

<h1>Claims</h1>

<h2>All Items</h2>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Lower Seq Num</th>
			<th>Upper Seq Num</th>
                        <th>Lower Shortcode</th>
                        <th>Upper Shortcode</th>
			<th>Date</th>
			<th>Username</th>
			<th>IP</th>
			<th>Action</th>
		</tr>
	</thead>
	
	{% for item in (item for item in items if not item['datetime_claimed']) %}
	<tr>
		<td>{{ item['id'] }}</td>
		<td>{{ item['lower_sequence_num'] }}</td>
		<td>{{ item['upper_sequence_num'] }}</td>
		<td>{{ item['lower_shortcode'] }}</td>
		<td>{{ item['upper_shortcode'] }}</td>
		<td>{{ item['datetime_claimed'] }}</td>
		<td>{{ item['username'] }}</td>
		<td>{{ item['ip_address'] }}</td>
		<td>
			{% module Form(
				item_action_form, 
				action='?action=delete_one&id={}'.format(item['id']), 
				submit='Delete') %}
		</td>
	</tr>
	{% end %}
	
	{% for item in (item for item in items if item['datetime_claimed']) %}
	<tr class="success">
		<td>{{ item['id'] }}</td>
		<td>{{ item['lower_sequence_num'] }}</td>
		<td>{{ item['upper_sequence_num'] }}</td>
		<td>{{ item['lower_shortcode'] }}</td>
		<td>{{ item['upper_shortcode'] }}</td>
		<td>{{ datetime.datetime.utcfromtimestamp(item['datetime_claimed']) }}</td>
		<td>{{ item['username'] }}</td>
		<td>{{ item['ip_address'] }}</td>
		<td>
			{% module Form(
				item_action_form,
				action='?action=release_one&id={}'.format(item['id']), 
				submit='Release', submit_sm=True) %}
		</td>
	</tr>
	{% end %}

</table>

<h2>Queue Management</h2>

<div class="well">
	<h4>Release stall claims</h4>
	<p class="help-block">Release any claimed items and make them available again.</p>
	{% module Form(release_form, action='?action=release', submit='Release Claims') %}
</div>

<div class="well">
	<h4>Flush queue</h4>
	<p class="help-block">Completely obliterate the queue including any claims.</p>
	{% module Form(delete_form, action='?action=delete', submit='Delete Queue') %}
</div>

<div class="well">
	<h4>Add items</h4>
	<p>Each item is seperated by whitespace (a new line or a space). 
	Each item is a range of sequence numbers (A number, a ASCII hyphen, a number).</p>
	<p>For example: <code>0-9 10-19 20-21</code></p>

	{% module Form(manual_add_form, action='?action=manual_add', submit='Add to Queue') %}
</div>

{% end %}