{% extends 'base.html' %}

{% block title %} Items {% end %}

{% block main %}

<h1>Claims</h1>

<h2>All Items</h2>
<table>
	<tr>
		<th>ID</th>
		<th>Lower Seq Num</th>
		<th>Upper Seq Num</th>
		<th>Date</th>
		<th>Username</th>
		<th>IP</th>
		<th>Action</th>
	</tr>
	
	{% for item in (item for item in items if not item['datetime_claimed']) %}
	<tr>
		<td>{{ item['id'] }}</td>
		<td>{{ item['lower_sequence_num'] }}</td>
		<td>{{ item['upper_sequence_num'] }}</td>
		<td>{{ item['datetime_claimed'] }}</td>
		<td>{{ item['username'] }}</td>
		<td>{{ item['ip_address'] }}</td>
		<td>
			{% module Form(
				item_action_form, 
				action='?action=delete_one&id={}'.format(item['id']), 
				submit='Delete') %}
		</td>
	</tr>
	{% end %}
	
	<tr>
		<td colspan="7">
			<hr>
		</td>
	</tr> 
	
	{% for item in (item for item in items if item['datetime_claimed']) %}
	<tr>
		<td>{{ item['id'] }}</td>
		<td>{{ item['lower_sequence_num'] }}</td>
		<td>{{ item['upper_sequence_num'] }}</td>
		<td>{{ item['datetime_claimed'] }}</td>
		<td>{{ item['username'] }}</td>
		<td>{{ item['ip_address'] }}</td>
		<td>
			{% module Form(
				item_action_form,
				action='?action=release_one&id={}'.format(item['id']), 
				submit='Release') %}
		</td>
	</tr>
	{% end %}

</table>

<h2>Queue Management</h2>

{% module Form(release_form, action='?action=release', submit='Release Claims') %}

<p>Release any claimed items and make them available again.</p>
<hr>

{% module Form(delete_form, action='?action=delete', submit='Delete Queue') %}
<p>Completely obliterate the queue including any claims.</p>
<hr>

{% module Form(manual_add_form, action='?action=manual_add', submit='Add to Queue') %}
<p>Add some items.</p>
<p>Each item is seperated by whitespace (a new line or a space). 
Each item is a range of sequence numbers (A number, a ASCII hyphen, a number).</p>
<p>For example: <code>0-9 10-19 20-21</code></p>

{% end %}