{% extends '../base.html' %}

{% include '../menus/project.html' %}

{% block title %} Queue Settings {% end %}

{% block main %}

<h1>Queue Settings</h1>
<p>Tick the "enabled" box to allow jobs be issued for this project.</p>
{% module Form(enable_form, action='?action=enable', submit='Apply') %}

<h2> Auto Queue</h2>

<p>The auto queue automatically fills the queue when it becomes empty or jobs expire.</p>

<p>"Lower sequence number" is automatically bumped up by the auto queue.</p>

<p> <b>Lower shortcode:</b> {{ lower_shortcode }}</p>

{% module Form(form, action='?action=autoqueue', submit='Apply') %}  

{% end %}