{% extends 'base.html' %}

{% block title %} Shortener Settings {% end %}

{% block main %}
{% from terroroftinytown.tracker.model import MIN_VERSION_OVERRIDE, MIN_CLIENT_VERSION_OVERRIDE %}
{% from terroroftinytown.services.registry import registry %}

<h1>Shortener Settings</h1>

<p class="help-block">Customize how the scraper will operate.</p>

{% if project_name in registry %}
<div class="bg-warning">
	<p><strong>Caution: This project has custom code.</strong></p>
	<p>
		Before making changes, please disable the queue for this project. 
		Ensure the updated unit tests pass and set the minimum script version as required.
	</p>
</div>
{% end %}

{% module Form(form, submit='Apply') %}

<dl class="dl-horizontal">
	<dt>Alphabet</dt>
	<dd>
		How to turn the sequence numbers into letters. <a href="{{ reverse_url('index.calculator') }}">Some common examples.</a>
	</dd>
	<dt>HTTP Status codes</dt>
	<dd>
		<p>These boxes are whitespace seperated lists.</p>
		<p>A redirect status code means there is a unshortened URL. A no redirect 
		status code means that there is no shortened URL. A unavailable status
		code means that the shortener has content issues (like a DCMA notice) with 
		unshortened URL. Banned status codes means that the scraper client
		has been banned.</p>
	</dd>
	<dt>Content body regex</dt>
	<dd>
		Python regex if the shortener only serves the unshortened URL in the HTML.
	</dd>
        <dt>Location header regex</dt>
        <dd>
                Python regex to match non-redirect values in the Location header.
        </dd>
	<dt>Library version</dt>
	<dd>
		<p>Minimum version of terroroftinytown required to get work from this project. Note that the pipeline tries to updates the terroroftinytown submodule automatically.</p>
		<p>The tracker has a hard coded override of {{ MIN_VERSION_OVERRIDE }}</p>
	</dd>
	<dt>Pipeline version</dt>
	<dd>
		<p>Minimum version of terroroftinytown-client-grab required to get work from this project. Users must manually update the client.</p>
		<p>The tracker has a hard coded override of {{ MIN_CLIENT_VERSION_OVERRIDE }}</p>
	</dd>
	<dt>Custom code</dt>
	<dd>
		<p>The following services use custom client code: {{ ', '.join(registry.keys()) }}. Their logic is not defined in this interface but rather in the client library.</p>
		<p>To create a new project with custom code, please remember:</p>
		<ol>
			<li>Ensure the project's queue is disabled</li>
			<li>Write the code and unit tests</li>
			<li>Bump the minimum script version in the client library</li>
			<li>Run the unit tests</li>
			<li>Set the appropriate tracker settings (including the script version)</li>
		</ol>
	</dd>
</dl>

{% end %}