{% extends 'base.html' %}

{% block title %} Banned Clients {% end %}

{% block main %}
{% from tornado.httputil import url_concat %}

<h1>Banned Clients</h1>

<p>Deny jobs to any clients specified.</p>

<h2>Ban a client</h2>
<p class="help-block">You can specify a nickname provided by the user or an IP address.</p>

{% module Form(form, action='?action=add', submit='Add') %}

<h2>All banned</h2>
<ul>
{% for username in usernames %}
	<li>
		{{ username }}
		{% module Form(
			unblock_form, 
			action=url_concat('?', {'action': 'remove', 'username': username}),
			submit='Unblock'
		) %}
	</li>
{% end %}
</ul>


{% end %}