{% extends 'base.html' %}

{% block title %} Error Reports {% end %}

{% block main %}

<h1>Error Reports</h1>

<p>About {{ count }} reports exist.</p>

<a class="btn btn-default" href="{{ '{}?offset_id={}'.format(reverse_url('admin.error_reports'), next_offset_id) }}">Show more</a>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Item ID</th>
			<th>Project</th>
			<th>Date</th>
			<th>Message</th>
		</tr>
	</thead>
	
	{% for report in error_reports %}
	<tr class="{% if report['project'] %} warning {% end %}">
		<td>{{ report['id'] }}</td>
		<td>{{ report['item_id'] }}</td>
		<td>{{ report['project'] }}</td>
		<td>{{ report['datetime'] }}</td>
		<td><pre class="errorReportMessage">{{ report['message'] }}</pre></td>
	</tr>
	{% end %}
</table>

<a class="btn btn-default" href="{{ '{}?offset_id={}'.format(reverse_url('admin.error_reports'), next_offset_id) }}">Show more</a>

<hr>

{% module Form(delete_all_form, action=reverse_url('admin.error_reports.delete_all'), submit='Delete All') %}

{% end %}