{% extends '../base.html' %}

{% block menu %}
{% if project_name is None %}
{% include '../menus/overview_bare.html' %}
{% else %}
{% include '../menus/project_bare.html' %}
{% end %}
{% end %}

{% block title %} Error Reports {% end %}

{% block main %}

<h1>Error Reports{{ ' for "{}" '.format(project_name) if project_name is not None else '' }}</h1>

{% module Form(auto_delete_form, action=reverse_url('admin.error_reports.auto_delete_setting'), submit='Apply') %}

<hr>

<p>{{ 'There are about {:,} error reports total.'.format(count) if project_name is None else ''}}</p>

<a class="btn btn-default" href="{{ '{}?offset_id={}&project_id={}'.format(reverse_url('admin.error_reports'), next_offset_id, project_name) }}">Show more</a>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Item ID</th>
			{% if project_name is None %} <th>Project</th> {% end %}
			<th>Date</th>
			<th>Message</th>
		</tr>
	</thead>
	
	{% for report in error_reports %}
	<tr class="{% if report['project'] %} warning {% end %}">
		<td>{{ report['id'] }}</td>
		<td>{{ report['item_id'] }}</td>
		{% if project_name is None %} <td>{{ report['project'] }}</td> {% end %}
		<td>{{ report['datetime'] }}</td>
		<td><pre class="errorReportMessage">{{ report['message'] }}</pre></td>
	</tr>
	{% end %}
</table>

<a class="btn btn-default" href="{{ '{}?offset_id={}&project_id={}'.format(reverse_url('admin.error_reports'), next_offset_id, project_name) }}">Show more</a>

<hr>

{% module Form(delete_all_form, action=reverse_url('admin.error_reports.delete_all'), submit='Delete All') %}

{% end %}
