/* Stuff from https://github.com/aekaplan/grid but without overriding accessiblity styles */
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media ( min-width : 40rem) {
	.column {
		float: left;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.column.full {
		width: 100%;
	}
	.column.two-thirds {
		width: 66.7%;
	}
	.column.half {
		width: 50%;
	}
	.column.third {
		width: 33.3%;
	}
	.column.fourth {
		width: 24.95%;
	}
	.column.flow-opposite {
		float: right;
	}
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

@media ( min-width : 40rem) {
	.column.flow-opposite {
		float: right;
	}
}