@font-face{
	font-family: "pixelmix";
	font-weight: normal;
	src: url("pixelmix.woff") format("woff"), url("pixelmix.ttf") format("truetype");
}
@font-face{
	font-family: "pixelmix";
	font-weight: bold;
	src: url("pixelmix_bold.woff") format("woff"), url("pixelmix_bold.ttf") format("truetype");
}

body{
	font-family: "pixelmix";
	background-color: #F2EEF2;
	color: black;
	-webkit-font-smoothing: none;;
}

a{
	color: #A15DBA;
}
a:hover{
	color: #AF5FCD;
	text-decoration: none;
	text-shadow: #D2D2D2 1px 1px 0.1em;
}

h2{
	text-shadow: gray 1px 1px 0.1em;
}

.hero{
	margin: 20px 0px;
	text-align: center;
	text-shadow: gray 1px 1px 0.1em;
}
.hero h1{
	margin: 0;
}
.hero h2{
	font-size: 16pt;
	margin: 0;
	margin-top: 5px;
}
nav{
	margin: 20px 0px;
	text-align: center;
}
nav a{
	margin-right: 13px;
}

#globalstats{
	text-align: center;
	font-size: 20pt;
	text-shadow: gray 1px 1px 0.1em;
	margin-bottom: 20px;
}

.panel{
	color: black;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: none;
	box-shadow: gray 1px 1px 0.1em;
}
.panel-default .panel-heading{
	background-color: #482680;
	color: white;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	font-weight: bold;
	text-shadow: gray 1px 1px 0.1em;
}
.panel-heading .pull-right{
	margin-top: -3px;
	font-weight: normal;
}
.panel-heading input{
	width: 80px;
	border: none;
	padding: 2px 3px;
}
.panel-heading[ng-click]{
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.panel-heading[ng-click]:hover{
	background-color: #300080;
}

.table{
	color: black;
	background: white;
}

input{
	color: black;
	background: white;
}

th{
	font-size: 8pt;
}

.admin{
	font-family: helvetica, verdana, sans-serif;
	margin-top: 30px;
}

.well{
	color: black;
}

@media (max-width: 767px){
	.hero h2{
		display: none;
	}
}
.logoutLink {
	text-align: right;
	padding: 0.2em;
}

.errorReportMessage {
	overflow: auto;
	max-width: 40vw;
}

#leaderboard-totals, #leaderboard-recent {
	table-layout: fixed;
}

.table-number {
	text-align: right;
}
.table-string {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.nick-color-0 {
	color: #423c00;
}
.nick-color-1 {
	color: #4a2500;
}
.nick-color-2 {
	color: #170f02;
}
.nick-color-3 {
	color: #152604;
}
.nick-color-4 {
	color: #182f4c;
}
.nick-color-5 {
	color: #221724;
}
.nick-color-6 {
	color: #210000;
}
.nick-color-7 {
	color: #2e3436;
}
